.mainPage {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 70px;
  &__body {
    width: 1320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
  }
  .carousel {
    width: 700px;
    &__text {
      color: #282828;
      font-size: 25px;
      font-weight: 600;
      position: absolute;
      bottom: 40px;
      display: flex;
      justify-content: center;
      width: 700px;
    }
  }
  .selectBlock {
    &__body {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

.thumbs.animated {
  display: none;
}

.carousel-status {
  display: none;
}
