.footer {
  background: #f1f6fb;
  &__body {
    height: 90px;
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .emailBlock {
    color: #282828;
    font-size: 14px;
    font-weight: 500;
    &__email {
      font-size: 14px;
      font-weight: 700;
      color: #00a3ff;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .menu {
    display: flex;
    gap: 40px;
    &__elemen {
      color: #282828;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        color: #00a3ff;
      }
    }
  }
}
